$toggle-width: 25px;
$standard-border: 1px solid #ddd;
$region-container-height: 500px;
$region-container-width: 380px;
$region-container-z-index: 1;
$region-header-height: 25px;
$region-footer-height: 30px;
$content-item-hover-colour-bg: #79b5e6;
$content-item-hover-colour-text: #fff;
$content-item-selected-colour-bg: #4f94cd;
$content-item-unread-colour: #f4f4f4;
$content-header-footer-height: $region-header-height + $region-footer-height;

@mixin invisible() {
    opacity: 0;
    visibility: hidden;
}

@mixin visible() {
    opacity: 1;
    visibility: visible;
}

.popover-region {

    .dropdown-menu {
        height: $region-container-height;
        width: $region-container-width;
        transition: height 0.25s;
    }
    .messages .media-object {
        width: 40px;
    }
}

.count-container {
    padding: 2px;
    border-radius: 2px;
    background-color: red;
    color: white;
    font-size: 10px;
    line-height: 10px;
    position: absolute;
    top: 5px;
    right: 0;
}

.popover-region-header-actions {
    float: right;

    > * {
        margin-left: 10px;
        min-width: 20px;
        display: inline-block;
    }
    .loading-icon {
        display: none;
        height: 12px;
        width: 12px;
    }

    .newmessage-link {
        margin-right: 10px;
    }

    label {
        display: inline-block;
        text-align: center;
        margin-bottom: 0;
    }
}

.popover-region-content-container {
    height: calc(100% - #{$content-header-footer-height});
    width: 100%;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;

    > .loading-icon {
        display: none;
        text-align: center;
        padding: 5px;
        box-sizing: border-box;
    }

    .empty-message {
        display: none;
        text-align: center;
        padding: 10px;
    }

    &.loading {
        > .loading-icon {
            display: block;
        }

        .empty-message {
            display: none;
        }
    }
}

.navbar {
    .popover-region {
        &.collapsed {
            .popover-region-container {
                @include invisible();

                height: 0;
                overflow: hidden;
                transition: height 0.25s, opacity 101ms 0.25s, visibility 101ms 0.25s;
            }
        }
    }

    .count-container {
        padding: 2px;
        border-radius: 2px;
        background-color: red;
        color: white;
        font-size: 10px;
        line-height: 10px;
        position: absolute;
        top: 5px;
        right: 0;
    }

    .popover-region-container {
        top: $line-height-base * 1.4 * $font-size-base;
    }

}

.popover-region-notifications {
    .popover-region-header-container {
        .mark-all-read-button {
            .normal-icon {
                display: inline-block;
            }

            &.loading {
                .normal-icon {
                    display: none;
                }
                .loading-icon {
                    display: inline-block;
                }
            }
        }
    }

    .all-notifications {
        @include visible();

        height: auto;
        overflow: hidden;

        &:empty + .empty-message {
            display: block;
        }
    }

    .notification-image {
        display: inline-block;
        width: 8%;
        vertical-align: top;

        img {
            height: 75%;
        }
    }

    .notification-message {
        display: inline-block;
        font-size: 12px;
    }

    .popover-region-content-container {
        &.loading {
            .all-notifications {
                &:empty + .empty-message {
                    display: none;
                }
            }
        }
    }
}

.popover-region-messages {
    .mark-all-read-button {
        .normal-icon {
            display: inline-block;
        }

        &.loading {
            .normal-icon {
                display: none;
            }
            .loading-icon {
                display: inline-block;
            }
        }
    }

    .popover-region-content-container {
        &.loading {
            .popover-region-content {
                .messages {
                    &:empty + .empty-message {
                        display: none;
                    }
                }
            }
        }
    }

    .messages {
        &:empty + .empty-message {
            display: block;
        }
    }

    .list-group-item.unread {
        font-weight: 600;
    }

    .media {
        height: 100%;
        width: 100%;
        box-sizing: border-box;
    }

    .profile-image-container {
        width: 30px;
        display: inline-block;
        text-align: center;
        float: left;

        img {
            width: 100%;
            display: inline-block;
            vertical-align: middle;
            border-radius: 50%;
        }
    }

    .media-body {
        display: inline-block;
        box-sizing: border-box;
        width: calc(100% - 30px);
        font-size: 12px;
        padding-left: 10px;
        overflow: hidden;

        .name {
            font-size: 12px;
            line-height: 12px;
            margin: 0;
            width: 100%;
        }

        p {
            margin: 0;
        }
    }

    .unread-count-container {
        display: none;
    }
}
